<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166004904133-ddsjqsdqplobgc5ijjv5m6svfkuilt4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166004904133-ddsjqsdqplobgc5ijjv5m6svfkuilt4c</string>
	<key>API_KEY</key>
	<string>AIzaSyDyi3vq062seq3IgIWRVa8I6_bCPyVRf0w</string>
	<key>GCM_SENDER_ID</key>
	<string>166004904133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoMpteam</string>
	<key>PROJECT_ID</key>
	<string>habit-appl</string>
	<key>STORAGE_BUCKET</key>
	<string>habit-appl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166004904133:ios:69c6b855174c4dfe08e0ac</string>
</dict>
</plist>