<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsuHBbUcKmC-N2ejtMCFpQ3hP0-KQM778</string>
	<key>GCM_SENDER_ID</key>
	<string>427903546085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoMpteam</string>
	<key>PROJECT_ID</key>
	<string>mp-project-aeafa</string>
	<key>STORAGE_BUCKET</key>
	<string>mp-project-aeafa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427903546085:ios:37d84cd60d90ba166f5a0c</string>
</dict>
</plist>